<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
	<appSettings>
		<add key="LoggerName" value="AgathaLogger"/>
		<add key="NumberOfResultsPerPage" value="6"/>
		<add key="ApiKey" value="cfdd99e0787cd37c28f93d35f1a0a5c1764a90db"/>
		<add key="PayPalBusinessEmail" value="XXXXX@XXXXXX.XXXX"/>
		<add key="PayPalPaymentPostToUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
	</appSettings>
</configuration>